# visualize
jupyterlab
matplotlib
seaborn
nglview
# ipywidgets>=7.6.0,<8
# training
einops
torch
torchvision
torchinfo
lightning
mmengine
# tools
healpy
tqdm
tabulate
tensorboard
scipy
scikit-learn
numpy
numba
pandas
umap-learn[plot]
mmcv-lite
opencv-python-headless
dm-tree
lazy_loader
# protein
biotite
biopython
gemmi
starfile
mrcfile
# formatting
nbqa
autoflake
isort
yapf
pre-commit
